@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: inherit;
}
.txt-rojo{
    color: #FA4747;
}
.txt-naranja{
    color:#FA9347;
}
header{
    background-color: black;
}
footer{
    background-color: black;
}
.header-principal{
    display: flex;
    align-items: center;
}
.logo-nombre{
    font: bold normal 20px 'Montserrat', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}
.sec1-principal{
    background-image: url(http://localhost/ProyectoProgramacion3/images/fondo-geometrico.png);
    /* background-size:100% auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 530px;
    /* background-color: #FA4747; */
}
.imagen-fondo{
    height: 500px;
}
.sec1-principal div h2{
    font: 800 normal 50px 'Montserrat', sans-serif;
}
.txt-barra-cuenta{
    color: white;
    font: 500 normal 21px 'Montserrat', sans-serif;
}
.txt-barra-plataforma{
    margin-top: 9px;
    color: white;
    font: 700 normal 22px 'Montserrat', sans-serif;
}
.barra-divisora1{
    display: flex;
    flex-direction: column;
    background-color: #FA9347;
    justify-content: center;
    align-items: center;
    transform: translate(0, -14%);
    height: 150px;
}
.tipo-cuenta{
    margin-top: 45px;
    text-align: center;
    font: 700 normal 30px 'Montserrat', sans-serif;
}
.img-seleccion{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.btn-seleccion{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font: 700 normal 25px 'Montserrat', sans-serif;
    height: 100px;
}
.btn-seleccion a{
    color: white;
}
.btn-rectangle{
    width: 250px;
    height: 50px;
    background-color: #FA4747;
    margin-top: 15px;
    line-height: 50px
}
.footer-main{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.txt-footer-centro{
    font: 700 normal 17px 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.logo-titulo{
    align-items: center;
}
.txt-normal{
    margin-top: 20px;
    font-weight: 500;
}
.consulta{
    font: 700 normal 17px 'Montserrat', sans-serif;
}
.centrado-footer{
    color: white;
    padding: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registro{
    width: 301px;
    height: 301px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color:  rgba(0, 0, 0, 0.5);
    font: 500 normal 30px 'Montserrat', sans-serif;
    letter-spacing: 5px;
}