@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p,h2,body{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
/* main{
    background-color: red;
} */
header{
    background-color: black;
}
footer{
    background-color: black;
}
.header-principal,.footer-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .625rem;
}
.footer-menu{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.header-menu a{
    text-decoration: none;
    color: white;
    font: bold normal 1.5625rem 'Montserrat', sans-serif;
    padding: 3.125rem;
}
.header-iniciar_sesion{
    text-align: center;
    width: 12.5rem;
    height:2.8125rem;
    background: #FA9347;
    border-radius: 1.1563rem;
}
.header-iniciar_sesion a,.menu,.menu-footer{
    text-decoration: none;
    color: white;
    font:  bold normal 1.5625rem 'Montserrat', sans-serif;
    line-height: 2.8125rem;
}
.body-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 115px;
    align-items: center;
    /* margin-left: 1px; */
    /* flex-wrap:nowrap; */
}
.colegio-publico{
    color: rgba(0, 0, 0, 0.5);
    font:600 normal 1.5625rem 'Montserrat', sans-serif;
    letter-spacing:7px ;
    /* padding-left: 3.125rem; */
}

.txtSec1 h2{
    font:  bold normal 2.5rem 'Montserrat', sans-serif;
    /* padding-left: 3.125rem; */
}
.txt3{
    margin-top: 15px;
    font:  bold normal 2.5rem 'Montserrat', sans-serif;
    /* padding-left: 3.125rem; */
    color: #FA9347;
}
[class*="btn-sec1"]{
    width: 207px;
    height: 42px;
    background: #FA4747;
    border-radius: 40px;
    font:  bold normal 1.875rem 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
}
.image1{
    margin: 0;
    width: 550px;
    margin-left: 130px;
}
.btn-principal1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.barra-divisora1{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90.27deg, rgba(255, 137, 50, 0.654861) 19.89%, rgba(243, 113, 16, 0.654861) 64.42%);
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    height: 150px;
}
[class*="txt-barra"]{
    text-align: center;
}
.txt-barra-ubicacion{
    margin: 0;
    font:  500 normal 25px 'Montserrat', sans-serif;
    color: white;
}
.txt-barra-educacion{
    margin: 0;
    font:  bold normal 50px 'Montserrat', sans-serif;
    color: white;
}
.txt-rojo{
    color: #FA4747;
}

.main-servicios{
    margin-top: 50px;
    text-align: center;
}
.txt-info_titulo{
    margin: 0;
    font:  bold normal 50px 'Montserrat', sans-serif;
}
.txt-info_servicios{
    font:  400 normal 25px 'Montserrat', sans-serif;
}

.main-img_servicios{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-img_servicios{
    text-align: center;
    font:  400 normal 20px 'Montserrat', sans-serif;
}
.txt-bold{
    font:  bold normal 20px 'Montserrat', sans-serif;
}
.barra-divisora2{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90.27deg, rgba(255, 57, 57, 0.654861) 41.32%, rgba(253, 0, 0, 0.654861) 64.42%);
    justify-content: center;
    align-items: center;
    height: 150px;
}
.btn-llamar{
    text-decoration: none;
    width: 165px;
    height: 30px;
    color: white;
    font:  bold normal 25px 'Montserrat', sans-serif;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 18px;
}
.main-infraestructura{
    margin-top: 50px;
    text-align: center;
}
.txt-infraestructura{
    color: rgba(0, 0, 0, 0.5);
    font:  600 normal 25px 'Montserrat', sans-serif;
    letter-spacing: 0.06em;
}
.txt-instalacion{
    margin-top: 20px;
    font:  bold normal 20px 'Montserrat', sans-serif;
}

.main-infrestructura_img{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font:  bold normal 20px 'Montserrat', sans-serif;
}
.txt-naranja{
    color: #FA9347;
}

.footer-principal{
    display:flex ;
    flex-direction: column;
    color: white;
    /* justify-content: space-between; */
    align-items: center;
}
.footer-info_comunicacion{
    margin-top: 20px;
    font:  normal normal 20px 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.txt-more_info{
    text-align: center;
    font:  bold normal 20px 'Montserrat', sans-serif;
}
.contactanos{
    text-align: center;
    font:  500 normal 20px 'Montserrat', sans-serif;
}
.logo-footer{
    margin-left: 25px;
}
.txt-footer{
margin-left: 25%;
}
.footer-contacto{
    margin-top: 17px;
    text-align: center;
    display: flex;
    gap: 80px;
}
.info-footer{
    margin-top: 5px;
    text-align: center;
}







/* Responsive */
@media (max-width:43.75rem){
.header-menu a{
    font:  bold normal 12px 'Montserrat', sans-serif;
    margin-right: 250px;
}
.header-principal{
    flex-direction: row;
    text-align: center;
}
.header-iniciar_sesion{
    width: 0px;
    height: 0px;
}
.header-iniciar_sesion a{
    text-align: center;
    font-size: 0px;
    line-height: 0px;
}
.logo-header{
    width:0px
}
}