.menu:hover{
    color:#C2C2C2;
}
.txtIniciarsesion:hover{
    color: black;
}
[class*="btn-sec1"]:hover{
color: black;
}
.btn-llamar:hover{
    color: black;
    border: 3px solid black;
}
.menu:hover::checked{
    color: red;
}